<p>We teach many different custom classes. Our core accounting curriculum includes:</p>
  <ul>
    <li>Month-end	closing</li>
    <li>Job forecasting and WIP accounting</li>
    <li>Creating a payroll procedure</li>
  </ul>
