<div class="row header">
	<div class="col-sm-1 col-sm-offset-3"><%= image_tag "side by side logo.png" %></div>
	
</div>

<div class="row topper">
	<div class="col-sm-5 col-sm-offset-3">
		<h1>Two distinct divisions. One ambititious aim</h1>
	</div>
</div>

<div class="row">
	<div class="left">
		<div class="col-sm-1 far-left"></div>
		<div class="col-sm-5 left-central">	
			<h2>Silvertrek Services</h2>
		</div>
	</div>
	<div class="right">
		<div class="col-sm-5 right-central">
			<h2>Silvertrek Consulting</h2>
		</div>
	</div>

</div>

<div class="row">
	<div class="left">
		<div class="col-sm-1 far-left"></div>
		<div class="col-sm-5 left-central">
			<h2>Considered.</h2>
			<p>analyzed statements and early warnings</p>
		</div>
	</div>
	<div class="right">
		<div class="col-sm-5 right-central">
			<h2>Fast.</h2>
			<p>don't ask us to do something if you don't want it done now</p>
		</div>
		<div class="col-sm-1 far-right">e</div>
	</div>
</div>

<div class="row">
	<div class="left">
		<div class="col-sm-1 far-left">e</div>
		<div class="col-sm-5 left-central">
			<h2>Flexible.</h2>
			<p>fees flex with your revenue</p>
		</div>
	</div>
	<div class="right">
		<div class="col-sm-5 right-central">
			<h2>Process-driven.</h2>
			<p>software that doesn't match your process is worthless. pitch it.</p>
		</div>
		<div class="col-sm-1 far-right">e</div>
	</div>
</div>


<div class="row">
	<div class="left">	
		<div class="col-sm-1 far-left">e</div>
		<div class="col-sm-5 left-central">
			<h2>Easy.</h2>
			<p>no staff to manage.</p>
		</div>
	</div>
	<div class="right">
		<div class="col-sm-5 right-central">
			<h2>Broad-minded.</h2>
			<p>we see the whole picture.</p>
		</div>
		<div class="col-sm-1 far-right">e</div>
	</div>
</div>
