<div class="row header">
	<h1>Silvertrek Systems</h1>
	
</div>

<div class="row page">
	<div class="col-sm-1 blue">a</div>
	<div class="col-sm-1 line"></div>
	<div class="col-sm-4 green">c</div>
		This is a test
	
</div>

