<div class="row header">
	<div class="col-sm-1 col-sm-offset-3"><%= image_tag "side by side logo.png" %></div>
	
</div>

<div class="row topper">
	<div class="col-sm-8 col-sm-offset-2">
		<h1>Two distinct divisions. One ambititious goal</h1>
	</div>
</div>

<div class="row">
	<div class="col-sm-6 left">
		<div class="row">
			<div class="col-sm-10 col-sm-offset-2 left-central">	
				<h2><span class="logo-silver">Silver</span><span class="logo-blue">trek</span> Services</h2>
			</div>
			<div class="col-sm-10 col-sm-offset-2 left-central">
				<p>Really, it's just <strong>bookkeeping</strong> for the 21st century. Paperless, effortless, tear-free administrative management.</p>
				<br/>
			</div>
		</div>
	</div>
	<div class="col-sm-6 right">
		<div class="row">
			<div class="col-sm-10 right-central">
				<h2><span class="logo-silver">Silver</span><span class="logo-blue">trek</span> Consulting</h2>
			</div>
			<div class="col-sm-10 right-central">
				<p>As <a url="www.viewpointcs.com">Viewpoint Construction Software</a> Certified consultants, we use all our administrative knowledge while helping you switch accounting systems, improve your processes, or write custom reports.</p>
			</div>
		</div>
	</div>
</div>


<div class="row">
	<div class="col-sm-6 left">
		<div class="row">
			<div class="col-sm-10 col-sm-offset-2 left-central">
				<h3>Flexible.</h3>
				<div class="snug">fees flex with your revenue</div>
			</div>
			<div class="col-sm-10 col-sm-offset-2 left-central">
				<h3>Considered.</h3>
				<div class="snug">analyzed statements and early warnings</div>
			</div>
			<div class="col-sm-10 col-sm-offset-2 left-central">
				<h3>Easy.</h3>
				<div class="snug">no staff to manage.</div>
			</div>
		</div>
	</div>
	<div class="col-sm-6 right">
		<div class="row">
			<div class="col-sm-10 right-central">
				<h3>Fast.</h3>
				<div class="snug">don't ask us to do something if you don't want it done now</div>
			</div>
			<div class="col-sm-10 right-central">
				<h3>Broad-minded.</h3>
				<div class="snug">we see the whole picture.</div>
			</div>
			<div class="col-sm-10 right-central">
				<h3>Process-driven.</h3>
				<div class="snug">software that doesn't match your process is worthless. pitch it.</div>	
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-sm-6 left">	
		<div class="row">
			<div class="col-sm-10 col-sm-offset-2 left-central">
				<div class="left-header">
					<h2>Data Entry</h2>
				</div>
			</div>
			<div class="col-sm-10 col-sm-offset-2 left-central">
				<p>Perhaps the most basic (and the most reviled) task among business owners is the day-to-day
					entry of all the masses of generated data of a successful business. Our systems allow 
					you to focus on your operations and sales, and leave the boring stuff to us. Plus, given we
					have so much boring stuff to do, we spend time, effort, and money automating this task
					to give you the most accurate and fast feedback.
				</p>
			</div>
			<div class="col-sm-10 col-sm-offset-2 left-central">
				<div class="row">	
					<div class="col-sm-1 col-sm-offset-2 head-shot-circle">
						<%= image_tag "headshotcircle.png" %>
					</div> 
					<div class="col-sm-5 col-sm-offset-1">
						<h4>Jill Huegel</h4>
						<p>Accounting Specialist</p>
					</div>
				</div>
			</div>
			<div class="col-sm-10  col-sm-offset-2 left-central">
				<div class="left-header">
					<h2>Accounting</h2>
				</div>
			</div>
			<div class="col-sm-10 col-sm-offset-2 left-central">
				<p>We provide you accurate financial statements once a month whether you want
				'em or not. And if you don't already know how, we teach you to read them and 
				to see trends and patterns. Our firm belief is that these reports aren't mere
				historical documents, but tools that you can use to intuit the best path in the
				future.
				</p>
			</div>
			<div class="col-sm-10 col-sm-offset-2 left-central">
				<div class="row">	
					<div class="col-sm-1 col-sm-offset-2 head-shot-circle">
						<%= image_tag "headshotcircle.png" %>
					</div> 
					<div class="col-sm-5 col-sm-offset-1">
						<h4>Kelly Davis</h4>
						<p>Accounting Specialist</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-sm-6 right">
		<div class="row">
			<div class="col-sm-10 right-central">
				<div class="right-header">
					<h2>Custom Reports</h2>
				</div>
			</div>
			<div class="col-sm-10 right-central">
				<p> World class custom reports. when you need 'em, not 6 months later.
					We know the Viewpoint from the outside in, and can't help but get
					excited when someone comes up with a great new idea for us to build.
				</p>
			</div>
			<div class="col-sm-10 right-central">
				<div class="row">	
					<div class="col-sm-11">
						<h4>David Morgan</h4>
						<p>Technician</p>
					</div>
					<div class="col-sm-1 head-shot-circle">
						<%= image_tag "headshotcircleblue.png" %>
					</div> 
				</div>
			</div>
			
		</div>
	</div>
</div>


<div class="row footer">
	<div class="col-sm-12">
		<p>PO Box 2281 | 101 S. Parkway Ave. | Battle Ground, WA 98604 | f. 360-667-3341</p>
	</div>
</div>