<div class="row header">
	<div class="col-sm-1 col-sm-offset-3"><%= image_tag "side by side logo.png" %></div>
	
</div>

<div class="row topper">
	<div class="col-sm-8 col-sm-offset-2">
		<h1>Two distinct divisions. One ambititious goal</h1>
	</div>
</div>

<div class="row">
	<div class="left">
		<div class="col-sm-1 far-left"></div>
		<div class="col-sm-5 left-central">	
			<h2><span class="logo-silver">Silver</span><span class="logo-blue">trek</span> Services</h2>
		</div>
	</div>
	<div class="right">
		<div class="col-sm-5 right-central">
			<h2><span class="logo-silver">Silver</span><span class="logo-blue">trek</span> Consulting</h2>
		</div>
	</div>
</div>

<div class="row">
	<div class="left">
		<div class="col-sm-1 far-left"></div>
		<div class="col-sm-5 left-central">
			<p>Really, it's just bookkeeping for the 21st century. Paperless, effortless, tear-less administrative management.</p>
			<br/>
		</div>
	</div>
	<div class="right">
		<div class="col-sm-5 right-central">
			<p>As <a url="www.viewpointcs.com">Viewpoint Construction Software</a> Certified consultants, we use all our administrative knowledge while helping you switch accounting systems, improve your processes, or write custom reports.</p>
		</div>
		<div class="col-sm-1 far-right"></div>
	</div>
</div>

<div class="row">
	<div class="left">
		<div class="col-sm-1 far-left"></div>
		<div class="col-sm-5 left-central">
			<h3>Considered.</h3>
			<div class="snug">analyzed statements and early warnings</div>
		</div>
	</div>
	<div class="right">
		<div class="col-sm-5 right-central">
			<h3>Fast.</h3>
			<div class="snug">don't ask us to do something if you don't want it done now</div>
		</div>
		<div class="col-sm-1 far-right"></div>
	</div>
</div>

<div class="row">
	<div class="left">
		<div class="col-sm-1 far-left"></div>
		<div class="col-sm-5 left-central">
			<h3>Flexible.</h3>
			<div class="snug">fees flex with your revenue</div>
		</div>
	</div>
	<div class="right">
		<div class="col-sm-5 right-central">
			<h3>Process-driven.</h3>
			<div class="snug">software that doesn't match your process is worthless. pitch it.</div>
		</div>
		<div class="col-sm-1 far-right"></div>
	</div>
</div>


<div class="row">
	<div class="left">	
		<div class="col-sm-1 far-left"></div>
		<div class="col-sm-5 left-central">
			<h3>Easy.</h3>
			<div class="snug">no staff to manage.</div>
		</div>
	</div>
	<div class="right">
		<div class="col-sm-5 right-central">
			<h3>Broad-minded.</h3>
			<div class="snug">we see the whole picture.</div>
		</div>
		<div class="col-sm-1 far-right"></div>
	</div>
</div>

<div class="row">
	<div class="left">	
		<div class="col-sm-1 far-left"></div>
		<div class="col-sm-5 left-central">
			<h2>Accounting</h2>
		</div>
	</div>
	<div class="right">
		<div class="col-sm-5 right-central">
			<h2>Custom Reports</h2>
		</div>
		<div class="col-sm-1 far-right">
		</div>
	</div>
</div>

<div class="row">
	<div class="left">	
		<div class="col-sm-1 far-left"></div>
		<div class="col-sm-5 left-central">
			<%= image_tag "headshotcircle.png", class: "head-shot-circle" %>
		</div>
	</div>
	<div class="right">
		<div class="col-sm-5 right-central">
			<%= image_tag "headshotcircle.png", class: "head-shot-circle" %>
		</div>
		<div class="col-sm-1 far-right">
		</div>
	</div>
</div>
