<%= render "shared/header" %>

<div class="row" id="accounting">
  <div class="col-sm-12">
    <h1>Accounting</h1>
  </div>
  <div class="col-sm-4 col-sm-offset-1">
    <div class="left-header">
      <h2>Monthly Financials</h2>
    </div>
      <p>Never wait until tax time again--you deserve to know <strong>now</strong>
        how you're doing.</p>
      <p>Every month, we work through a detailed checklist in concert
        with you--CEOs, Project Managers, owners and founders--to arrive at
        accurate, timely finanical statements. We go beyond the standard
        reconciliations, and diligently guide and teach the methods needed for
        financials in a contracting environment. Revised estimates, WIP accounting
        and a true understanding of change orders are all a part of our job</p>
      <p>We offer a simple guarentee--you receive your monthly finanicals by the
        end of the following month, or we don't get paid. Simple as that.</p>
  </div>

  <div class="col-sm-4 col-sm-offset-1">
    <div class="left-header">
      <h2>Weekly Reporting</h2>
    </div>
    <p> Every client has different numbers that mean something to them. You have
      your own--possibly it's sales related, possibly it's operation related--but
      part of our job is to help you find those numbers, and give you an opportunity
      to discover the patterns in them.</p>
    <p> We build a scorecard, and as part of our weekly meetings, we look at the
      numbers together. With the help of your whole team, we change last week
      from a mystery to a certainty, from a blur of work to a clarity of digits.</p>
  </div>

  <div class="col-sm-6 col-sm-offset-3">
    <div class="left-header">
      <h2>Strategic Forecasting</h2>
    </div>
    <p>In contracting, there's often a question that seems to defy understanding: If all my
      jobs are profitable, how is it possible that I'm losing money?</p>
    <p>We take that concern seriously. Together with those responsible for
      spending the money, we create a strategic forecast. This forecast becomes
      our measuring stick--<i>I thought I was going to spend $1000 all year on utilities;
      it's only June and I've spent $1500</i>--and we revisit it throughout the year
      to help you better understand where your job profits are being spent.</p>
  </div>
</div>

<div class="row" id="tools">
  <div class="col-sm-12">
    <h1>Tools</h1>
  </div>
  <div class="col-sm-4 col-sm-offset-1">
    <div class="left-header-blue">
      <h2> Silvertime</h2>
    </div>
    <p>Time keeping is a critical part of every contracting company. First, in
      order to control labor costs, time must be tracked to a job. Second, time
      spent on many jobs is directly billable, and it must be tracked accurately
      so your customers are willing to pay.</p>
    <p>The problem was that we counldn't find the right mixture in the timecard
      systems that were commercially available, so we built our own, and christianed
      it <strong>Silvertime</strong>.</p>
    <p>With Silvertime, an employee is able to quickly and easily track their
      own time, and a foreman or owner has a simple method for reviewing
      and approving that time. All the data is availble to the right people at the
      right time</p>
  </div>
  <div class="col-sm-4 col-sm-offset-1">
    <div class="left-header-blue">
      <h2>ComputerEase</h2>
    </div>
    <p>The right choice of an accounting system is important, and we decided
      to use an oldie but a goodie. ComputerEase has all the right mixture of
      excellent job-costing tools and ease of use that is required to manage
      both individual jobs and whole contracting companies well.</p>
    <p> We use all the modules to bring you accurate results--Job Cost, Accounts
      Payable, Equipment, Payroll, etc--and you never have to worry about upgrades,
      support, or servers.</p>
    <p></p>
  </div>
</div>

<div class="row" id="other">
</div>

<div class="row" id="fees">
  <div class="col-sm-12">
    <h1>Fees</h1>
  </div>
  <div class="col-sm-4 col-sm-offset-1">
    <div class="left-header">
      <h2>Flexible</h2>
    </div>
      <p>We make it easy to understand our payments--we get paid a simple percentage
      of revenue. If your business is like most, you will have ups and downs.
      With our business model, our fate is tied to yours, and thus we do everything
      in our power to make sure your business succeeds.</p>
  </div>

  <div class="col-sm-4 col-sm-offset-1">
    <div class="left-header">
      <h2>Paid with Proof</h2>
    </div>
    <p>We send a bill once a month--along with your monthly financials. It's easy
    that way, because you have tangible proof of the work we've done. If you don't
    get monthly financials, you don't get a bill--it's as simple as that.</p>
  </div>

  <div class="col-sm-6 col-sm-offset-3">
    <div class="left-header">
      <h2>Rates</h2>
    </div>
    <p>We put together a custom quote for you, but our rates typically fall around
      <strong>3% to 4% of revenue.</strong></p>
    <p>For example, a small business that does $200,000 per year in revenue would
      pay us only 6-8 thousand dollars for all of the above services--or approximately one
      month's pay for a skilled office manager.</p>
  </div>
</div>
