body {
	background-image: image_url("stardust.png")
}

.main-content {
	background-image: image_url("lightpaperfibers.png");
	background-repeat: repeat;
	box-shadow: 11px 11px 5px 0px rgba(50, 50, 50, 0.75);
}

.footer {
	
	color: white;
	font-weight: bold;
}

.adjust-footer {
	width: 45px;
}


.adjust-footer-2 {
	width: 100px;
}

