// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$silvertrek-blue: rgba(0,169,224,1);

$bookkeeping-line-color: rgba(133,133,133,1);
$technical-line-color: $silvertrek-blue;
$bookkeeping-background-color: rgba(133,133,133,0);
$technical-background-color: rgba(133,133,133,0.55);
$bottom-background-color: rgba(133,133,133,.25);

// Extra small screen / phone
$screen-xs:                  480px !default;

// Small screen / tablet
$screen-sm:                  768px !default;

// Medium screen / desktop
$screen-md:                  992px !default;

// Large screen / wide desktop
$screen-lg:                  1200px !default;

// Responsive font sizes
@media (max-width: $screen-sm) {
	font-size: 12px;
	h1 {
		font-size: 18px;
		margin: 0px;
		padding-bottom: 10px;
	}
	h2 {
		font-size: 16px;
		margin: 0px;
		padding-bottom: 10px;
	}
	h3 {
		font-size: 14px;
		margin: 0px;
		padding-bottom: 10px;
	}
	p {
		font-size: 12px;
		margin: 0px;
		padding-bottom: 10px;
	}
}
@media (min-width: $screen-sm) and (max-width: $screen-md){
	h1 {
		font-size: 24px;
	}

.header {

}


.topper {
	padding-top: 30px;
	padding-bottom: 30px;
	border-bottom: 1px solid black;
	}
}

h2 {
	font: Verdana;
	text-transform: uppercase;
	.logo-silver {
		font-weight: bold;
	}
	.logo-blue {
		color: $silvertrek-blue;
		font-weight: bold;
	}
}

.close {
	padding-top: 0px;
}

.left > * {
	background-color: $bookkeeping-background-color;
}
.far-left {

}

.head-shot-circle {
}

.left-central {
	border-left: 25px solid $bookkeeping-line-color;
	.head-shot-circle {
		margin-left: -69px;
	}
}

.left-header {
	border-left: 10px solid $bookkeeping-line-color;
	h2 {
		margin-left: 6px;
	}
}
.left-header-blue {
	border-left: 10px solid $technical-line-color;
	h2 {
		margin-left: 6px;
	}
}

.right > * {
	background-color: $technical-background-color;
}
.right-central {
	border-right: 	25px solid $technical-line-color;
	text-align: right;
	.head-shot-circle {
	 	margin-left: -5px;
	}
}

.far-right {
	border-top: 100px $technical-background-color;
}

.right-header {
	border-right: 10px solid $technical-line-color;
	h2 {
		margin-right: 6px;
	}
}

.adjust {
	height: 2.15em;
}


.bottom {
	background-color: $bottom-background-color;
}

.no-pip {
	width: 525px;
}

.no-pip > ul > li {
	list-style-type: none;
	strong {
		color: $silvertrek-blue;
	}
}

#tools {
	background-color: $technical-background-color;
	strong {
		color: $technical-line-color;
	}
}
